.Navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}
.Navbar .desktop, .Navbar .mobile{
    height: 70px;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Navbar .desktop a{
    color: #989898;
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
}
.Navbar .active{
    color: #3b3b3b !important;
}

.Navbar .mobile{
    display: none;
}
.Navbar .mobildLinks{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    border-bottom: 1px solid black;
}
.Navbar .mobildLinks a{
    color: #1b1c1d;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #fcfbfa;
}
.Navbar .mobildLinks a:hover{
    background-color: #e2e2e2;
}
.Navbar .hamburgerIcon{
    padding: 14px 16px;
    font-size: 17px;
    color: #1b1c1d;
    border: none;
    background-color: transparent;
}


/*media query----------------------------------------*/
/*tablets*/
@media (max-width: 768px){
   .Navbar .desktop{
       display: none;
   }
   .Navbar .mobile{
       display: flex;
       justify-content: flex-end;
   }
}